Dockerfile
.dockerignore
.eslintrc.json
.github
.vscode
*.tgz
jest.config.js
js/src/*.map
js/src/*.ts
js/tests
/tests
/schema
package.json
src
testdata/**/*
!testdata/**/shlTestResponses.js
tsconfig.json
!js/src/api.d.ts
!js/package.json
*.log