* {
    box-sizing: border-box;
}

body {
    background-color: #dbdbdb;
}

div {
    margin-left: 2em;
    margin-right: 2em;

}

textarea {
    font-family: 'Consolas';
    font-size: medium;
    width: 100%;
    display: block;
    padding: 1em;
    margin-bottom: 2em;
    resize: vertical;
    border: solid 1px black;
    border-radius: 0.3em;
    box-shadow: 4px 4px 4px #A0A0A0;
}

input[type="button"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 1em;
    border: solid 1px black;
    border-radius: 0.3em;
    box-shadow: 4px 4px 4px #A0A0A0;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    display: block;
    margin-bottom: 1em;
    text-shadow: 4px 4px 4px #A0A0A0;
}